<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Sharif.Blog</title>
    <link rel="stylesheet" href="~/css/editormd.preview.css" />
</head>

<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/md/editormd.min.js"></script>
    <script src="~/lib/md/marked.min.js"></script>
    <script src="~/lib/md/prettify.min.js"></script>

    <script type="text/javascript">
        $(function () {
            var testView = editormd.markdownToHTML("test-markdown-view", {
                markdown: "[TOC]\n @ViewData["articleContent"]", // Also, you can dynamic set Markdown text
                htmlDecode : true,  // Enable / disable HTML tag encode.
                // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
            });
        });
    </script>
</body>

</html>