
@{
    @* ViewData["Title"] = "Article"; *@
    @*Layout = "~/Views/Shared/_LayoutMarkdown.cshtml";*@
}

<div id="test-markdown-view">
    <!-- Server-side output Markdown text -->
    <textarea style="display:none;">### Hello world!</textarea>
</div>
