@{
    ViewData["Title"] = "Contens";
}
@model IEnumerable<ContentsViewModel>

<ul class="list-group">
    <li class="list-group-item">免费域名注册</li>
    <li class="list-group-item">免费 Window 空间托管</li>
    <li class="list-group-item">图像的数量</li>
    <li class="list-group-item">24*7 支持</li>
    <li class="list-group-item">每年更新成本</li>

    @foreach (var content in Model)
    {
        <li class="list-group-item">@content.ID - @content.Name</li>
    }
</ul>