@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<pre>
    +-------------------------------------------------------------------------------+
    |                                     User                                      |
    | 点击 目录中的链接                                             浏览博客          |
    +-------------------------------------------------------------------------------+
              ⬇                                                        ⬆             
    +-------------------------------------------------------------------------------+
    |                                     View                                      |
    | 根据 sha 来访问文章页面                                     显示博客内容         |
    +-------------------------------------------------------------------------------+
              ⬇                                                        ⬆             
    +-------------------------------------------------------------------------------+
    |                                     Controller                                |
    | 根据 sha 来查找获取文章的 download_url    根据博客内容；分析博客目录；返给页面     |
    +-------------------------------------------------------------------------------+
                        ⬇                                     ⬆                      
    +-------------------------------------------------------------------------------+
    |                                     Service                                   |
    | 使用 download_url 来请求博客内容                  返回博客内容                   |
    +-------------------------------------------------------------------------------+
                        ⬇                                     ⬆                      
    +-------------------------------------------------------------------------------+
    |                                     Github api                                |
    +-------------------------------------------------------------------------------+
</pre>

