<div class="timeline-group">
    <div class="timeline-item" date-is='2020-06-21'>
        <h1>添加时间轴页面</h1>
        <p>
            添加简易时间轴，并填写时间轴事件
        </p>
    </div>
    <div class="timeline-item" date-is='2020-06-15'>
        <h1>初始化项目</h1>
        <p>
            使用 asp.net core mvc 做一个博格，初设菜单栏。
        </p>
    </div>
</div>

